.hg-content {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  font-size: 12px;
  table {
    width: 100%;
    thead {
      text-align: left;
      th {
        border-top: 0;
      }
    }
  }
}
