<nav class="hg-navbar hg-navbar-slidable" ng-class="{'expanded' : nav.expanded}">
  <div class="hg-navbar-container">
    <div class="hg-navbar-brand">
    </div>
    <ul class="hg-navbar-nav">
      <li ng-click="nav.toggle()" style="background: purple;border: none">
        <div class="nav-icon">
          <i class="fa fa-bars"></i>
        </div>
        <div class="nav-label">
          Toggle Menu
        </div>
        <div class="clearfix">
        </div>
      </li>
      <li navitem url="dashboard" icon="fa-dashboard"   label="Dashboard"></li>
      <li navitem url="nodes"     icon="fa-server"      label="Nodes"></li>
      <li navitem url="services"  icon="fa-binoculars"  label="Services"></li>
      <li navitem url="reports"   icon="fa-file-text-o" label="Reports"></li>
      <li navitem url="settings"  icon="fa-wrench"      label="Settings"></li>
    </ul>
  </div>
</nav>
