<div class="dropdown">
  <button type="button" class="btn btn-default" data-toggle="dropdown">
    Widgets <i class="caret"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li ng-repeat="widget in widgets" stop-prop>
      <a ng-click="widget.enabled = !widget.enabled">
        <div class="pull-left" style="width: 300px">
          {{widget.title}}
        </div>
        <div class="pull-right">
          <i class="fa fa-check" ng-show="widget.enabled"></i>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
  </ul>
</divc
