<div class="hg-node">
  <div class="hg-node-header">
    <div class="row">
      <div class="col-md-12">
        <h3>
          <div style="height:16px;width:16px;display:inline-block;border-radius:2px; background: {{$ctrl.status[$ctrl.node.status]}}"></div>
          {{$ctrl.node.friendlyName}}
        </h3>
      </div>
    </div>
  </div>
  <div class="hg-sections">
    <div class="hg-node-description hg-section">
      <div class="row">
        <div class="col-md-12">
          <h4>
            Node Description
          </h4>
          <p>
            {{$ctrl.node.description || 'This node has no description'}}
          </p>
        </div>
      </div>
    </div>
    <div class="hg-node-details hg-section">
      <div class="row">
        <div class="col-md-12">
          <h4>
            Details
          </h4>
        </div>
        <div class="col-md-3">
          <label>
            Host Name
          </label>
          <p>
            {{$ctrl.node.hostName}}
          </p>
        </div>
        <div class="col-md-3">
          <label>
            IP Address
          </label>
          <p>
            {{$ctrl.node.ip}}
          </p>
        </div>
        <div class="col-md-3">
          <label>
            Last Seen
          </label>
          <p>
            {{$ctrl.node.lastSeen || '-' }}
          </p>
        </div>
        <div class="col-md-3">
          <label>
            Operating System
          </label>
          <p>
            {{$ctrl.node.os || '-' }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label>
            Type
          </label>
          <p>
            {{$ctrl.node.lastSeen || '-' }}
          </p>
        </div>
        <div class="col-md-3">
          <label>
            Owner
          </label>
          <p>
            {{$ctrl.node.owner || '-' }}
          </p>
        </div>
        <div class="col-md-3">
          <label>
            Last Status Change
          </label>
          <p>
            {{$ctrl.node.lastChange || '-' }}
          </p>
        </div>
      </div>
    </div>
    <div class="hg-node-timestamps hg-section">
      <div class="row">
      <div class="col-md-12">
        <h4>
          Timestamps
        </h4>
      </div>
      <div class="col-md-3">
        <label>
          Created
        </label>
        <p>
          {{$ctrl.friendlifyDate($ctrl.node.created)}}
        </p>
      </div>
      <div class="col-md-3">
        <label>
          Created by
        </label>
        <p>
          {{$ctrl.node.createdBy  || '-'}}
        </p>
      </div>
      <div class="col-md-3">
        <label>
          Last modified
        </label>
        <p>
          {{$ctrl.friendlifyDate($ctrl.node.modified)}}
        </p>
      </div>
      <div class="col-md-3">
        <label>
          Modified by
        </label>
        <p>
          {{$ctrl.node.modifiedBy  || '-'}}
        </p>
      </div>
    </div>
  </div>
</div>
</div>
