<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" style="border-radius:0px" *ngIf="user">
  <div class="container">
    <span class="navbar-brand">Hale Monitoring</span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" uiSrefActive="active" *ngFor="let item of nav">
            <a class="nav-link clickable" (click)="goToState(item.state)" *ngIf="item.display">
              {{item.title}}
            </a>
          </li>
      </ul>
    </div>
    <div class="my-2 my-lg-0">
      <app-user-badge [user]="user"></app-user-badge>
    </div>
  </div>
</nav>
