<div>
  <div class="well" style="margin-bottom:5px">
    <div class="col-md-10" style="font-size: 1.2em;margin-left:0px;padding-left:0px">
      <i class="fa fa-bars"></i>
      Webpage (Hyperlink)
    </div>
    <div class="col-md-2 text-right" style="padding-right:0px;font-size: 1.2em">
      <i class="fa fa-edit"></i>
      <i class="fa fa-remove"></i>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="well" style="margin-bottom:5px">
    <div class="col-md-10" style="font-size: 1.2em;margin-left:0px;padding-left:0px">
      <i class="fa fa-bars"></i>
      Owner (Text)
    </div>
    <div class="col-md-2 text-right" style="padding-right:0px;font-size: 1.2em">
      <i class="fa fa-edit"></i>
      <i class="fa fa-remove"></i>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="well" style="margin-bottom:5px">
    <div class="col-md-10" style="font-size: 1.2em;margin-left:0px;padding-left:0px">
      <i class="fa fa-bars"></i>
      Warranty End Date (Date)
    </div>
    <div class="col-md-2 text-right" style="padding-right:0px;font-size: 1.2em">
      <i class="fa fa-edit"></i>
      <i class="fa fa-remove"></i>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div style="margin-top:40px">

  <h4>
    Disabled Attributes:
  </h4>
  <span class="label label-default">
    Favorite Pizza
  </span> &nbsp;
  <span class="label label-default">
    Best Prince Song
  </span>
</div>
