<div class="alert alert-info" role="alert" *ngIf="showInfo">
  <button type="button" class="close" (click)="showInfo = false">
    <span>&times;</span>
  </button>
  <h5>
    Complexity Requirement
  </h5>
  <ul>
    <li>At least one upper case letter</li>
    <li>At least one lower case letter</li>
    <li>At least one digit</li>
    <li>At least one special character</li>
    <li>A minimum length of 8 characters</li>
  </ul>
</div>
<form #changePassword="ngForm" (ngSubmit)="doChangePassword(changePassword)">
  <div class="form-group" [ngClass]="{'has-danger' : password.errors, 'has-success': password.value && !password.errors}">
    <label for="password">
      Password
    </label>
    <input
      type="password"
      name="password"
      class="form-control"
      appValidatePassword
      [appValidateEquals]="confirmPassword"
      reverse="true"
      #password="ngModel"
      ngModel
      required>
    <small class="text-danger" *ngIf="password.errors && password.errors.invalidPassword">
      Password is too weak.
    </small>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-danger' : confirmPassword.value && confirmPassword.errors, 'has-success': confirmPassword.value && !confirmPassword.errors}">
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      name="confirmPassword"
      class="form-control"
      #confirmPassword="ngModel"
      ngModel
      [appValidateEquals]="password"
      required>
    <small class="text-danger" *ngIf="confirmPassword?.value && confirmPassword?.errors && confirmPassword.errors.notEqual">
      Passwords do not match
  </small>
  </div>
  <div class="form-group">
    <label for="oldPassword">
      Old Password
    </label>
    <input
      type="password"
      name="oldPassword"
      class="form-control"
      ngModel
      required>
  </div>
  <div class="text-right">
    <button
      [disabled]="!changePassword.valid"
      class="btn btn-primary">
      Submit
    </button>
  </div>
</form>
