html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background: #f2f2f2;
}

#wrapper {
  height: 100%;
  width: 100%;
}

.hg-transparent {
  color: #eee!important;

  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);;
  outline: none;
  border-radius: 4px;
  padding: 20px;
  font-size: 20px;
  height: 40px;
  font-family: 'calibri light', 'arial light';
}

.hg-login-container {
  width: 100%;
  height: 100%;
  padding-top: 20%;
  background-image: url('../img/login-bg.jpg');
}

.btn-login {
  display: block;
  width: 100%;

}


.hg-navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #333;
  min-width: 35px;
}
.hg-navbar-container>.hg-navbar-nav>li>.nav-icon {
  color: #fff;
  margin: 5px;
  font-size: 16px;
}
.hg-navbar-container>.hg-navbar-nav>li>.nav-label {
  display: none;
}
.nav-icon {
  float: left;
}
.expanded>.hg-navbar-container>.hg-navbar-nav>li>.nav-label {
  display: block;
  width: 100px;
  margin-top: 13px;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  color: #fff;
}

.hg-navbar-container>.hg-navbar-nav {
  list-style: none;
  line-height: 0px;
  margin: 0px;
  padding: 0px;
}

.hg-navbar-container>.hg-navbar-nav>li {
  padding: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid #555;
}


#login-box {
  width: 300px;
  margin: auto;
}
#loginUsername,
#loginPassword {
  color: #000!important;
  background: #fff;
  border:1px solid #ccc;
}

#login-box>h1 {
  font-family: 'Helvetica Neue', 'Calibri Light', 'Arial';
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar-inverse {
  background: #333;
}

.widget {
  width: 100%;
  min-height: 300px;
  text-align:center;
  background: transparent;
  color: #555;

  overflow:hidden;
  display: inline-block;
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
  background: rgba(255, 255, 255, 0.8);
}

.widget>.widget-header>.pull-left>h1 {
  line-height:normal;
  text-transform: uppercase;
  margin:0px;
}

@media (min-width: 768px) {
  .navitem:not(:last-of-type) {
    border-right: 1px solid rgba(100, 100, 100, 0.2);
  }

}


.hg-navbar-gravatar:hover,
.hg-navbar-gravatar:active,
.hg-navbar-gravatar:focus,
.hg-navbar-gravatar a:hover,
.hg-navbar-gravatar a:focus,
.hg-navbar-gravatar a:active,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: transparent!important;
}


.hg-navbar-gravatar:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar{
    margin:20px;
    padding: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left:15px;
    marign-right:15px;
    border-bottom: 1px solid #ccc;
  }

  .hg-navbar-gravatar {
    padding-left: 0px!important;
  }
  .hg-navbar-gravatar>img {
    width: 14px!important;
    height: 14px!important;
  }
}
@media (min-width: 768px) {
.sidebar {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-left: 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    background-color: #f5f5f5;
  }
}

@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline-block; !important
    }
    .navbar-collapse.in {
      overflow: inherit;;
    }
    .navbar-toggle {
      padding-right: 0px;
    }
}

@media screen and (min-width: 768px) {
    .visible-xs-inline {
        display: none; !important
    }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 45px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.navbar-brand {
      border-right: 1px solid rgba(100, 100, 100, 0.2);
}
