<div class="pull-right" style="width:200px">
  <input type="text" placeholder="Filter" class="form-control" ng-model="filter">
</div>
<div class="visible-m visible-l clearfix" style="margin-bottom:20px">
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="table-sortable-header" ng-click="sortBy('name')">
        Node Name
        <i
          class="caret"
          ng-class="(propertyName == 'name' ? 'caret-active' + ' ' + (reverse ? 'caret-up' : 'caret-down') : 'caret-inactive')">
        </i>
      </th>
      <th class="table-sortable-header" ng-click="sortBy('uri')">
        URI
        <i
          class="caret"
          ng-class="(propertyName == 'uri' ? 'caret-active' + ' ' + (reverse ? 'caret-up' : 'caret-down') : 'caret-inactive')">
        </i>
      </th>
      <th class="table-sortable-header" ng-click="sortBy('status')">
        Status
        <i
          class="caret"
          ng-class="(propertyName == 'status' ? 'caret-active' + ' ' + (reverse ? 'caret-up' : 'caret-down') : 'caret-inactive')">
        </i>
      </th>
      <th class="table-sortable-header" ng-click="sortBy('health')">
        Health %
        <i
          class="caret"
          ng-class="(propertyName == 'health' ? 'caret-active' + ' ' + (reverse ? 'caret-up' : 'caret-down') : 'caret-inactive')">
        </i>
      </th>
      <th class="table-sortable-header text-right" ng-click="sortBy('changed')">
        Last Change
        <i
          class="caret"
          ng-class="(propertyName == 'changed' ? 'caret-active' + ' ' + (reverse ? 'caret-up' : 'caret-down') : 'caret-inactive')">
        </i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="host in hosts | orderBy:propertyName:reverse | filter:filter">
      <td>
        {{host.name}}
      </td>
      <td>
        {{host.uri}}
      </td>
      <td>
        {{host.status}}
      </td>
      <td>
        {{host.health}}
      </td>
      <td  class="text-right">
        {{host.changed}}
      </td>
    </tr>
  </tbody>
</table>
