.hg-ui-nav {
  flex: initial;
  height:100%;

  .hg-navbar {
    height: 100%;
    width: 250px;
    background: #283c51;
    content: "";

    &.minimized {
        width: 50px;
    }
    .hg-navbar-nav {
      list-style-type: none;
      width: 100%;
      padding: 0px;
      font-size: 0.9em;
      li {
        a {
          color: #cad7e4;
        }
        cursor: pointer;
        padding: 10px 0px 10px 10px;
        border-left:3px solid #456586;
        transition: all 0.01s;

        &.active {
          a {
            text-decoration: none;
            color: #fff;
          }
          border-left:3px solid white;
          background: rgb(50, 74, 99);
        }
        &:hover:not(.active) {
          border-left:3px solid #5a82ab;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }

  }

}
