<div>
  <h4>
    Dashboard Settings
  </h4>
  <p>
    <i>
    Select the widgets that you would like to present on the dashboard screen.
    If none is selected, the dashboard will be empty and unusable (duh).
    Drag and drop the widgets to order, enable or disable them.
    </i>
  </p>
  <div>
    <div class="col-md-6" style="margin-left: 0px;padding-left:0px">
      <h4>
        Available Widgets:
      </h4>
      <div class="available-widgets">
        <div class="widget-item well">
          <h5>
            <i class="fa fa-list">
            </i>
            Node summary
          </h5>
          <p style="font-size:0.8em">
            Displays a summary of all hosts registered in Hale Monitoring and their current
            status. This is a condensed version of what you see in the hosts tab.
          </p>
        </div>
        <div class="widget-item well">
          <h5>
            <i class="fa fa-list">
            </i>
            Check summary
          </h5>
          <p style="font-size:0.8em">
            Displays a summary of all hosts registered in Hale Monitoring and their current
            status. This is a condensed version of what you see in the hosts tab.
          </p>
        </div>
        <div class="widget-item well">
          <h5>
            <i class="fa fa-pie-chart">
            </i>
            Summary Pie Chart
          </h5>
          <p style="font-size:0.8em">
            Displays a summary of all hosts registered in Hale Monitoring and their current
            status. This is a condensed version of what you see in the hosts tab.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="margin-right: 0px;padding-right:0px">
    <h4>
      Enabled  Widgets:
    </h4>
    <div class="enabled-widgets">
      <div class="widget-item well">
        <i class="fa fa-twitter"></i>
        Twitter: Latest Tweets
      </div>
    </div>
  </div>
</div>
<div class="pull-right">
  <button type="button" class="btn btn-primary">Save changes</button>
</div>
