<navbar>
</navbar>
<div class="container-fluid" style="margin-left:10px;margin-right:10px">
  <div class="row">
    <settings-menu>
    </settings-menu>
    <div class="col-sm-12 col-md-11 col-md-offset-1">
      <h4>
        Profile Settings
      </h4>
      <i>

      </i>
      <div class="form-group">
        <label>
          Username:
        </label>
        <input type="text" placeholder="JohnDoe911" class="form-control">
      </div>
      <div class="form-group">
        <label>
            Email:
        </label>
        <input type="text" placeholder="john.doe@acmegroup.com" class="form-control">
      </div>
      <div class="form-group">
        <label>
          Full Name:
        </label>
        <input type="text" placeholder="John Doe" class="form-control">
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-default">
          Cancel
        </button>
        <button type="button" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
