<div class="row">
    <div class="col-md-12">
        <hr style="border:none;border-bottom: 1px solid #ddd;"/>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>
                Display Name:
            </label>
            <input type="text" class="form-control input-sm" ng-model="$ctrl.node.friendlyName" placeholder="Eg. My favorite server">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="domainInput">
                Domain:
            </label>
                <input type="text" class="form-control input-sm" id="domainInput" ng-model="$ctrl.node.domain" placeholder="Eg. acmecorp.com">
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-danger btn-sm pull-left" ng-click="$ctrl.doBan()">
            <i class="fa fa-fw fa-trash"></i> Block
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.doCancel()">
            <i class="fa fa-fw fa-ban"></i> Cancel
        </button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.doSave()">
            <i class="fa fa-fw fa-save"></i> Save
        </button>
    </div>
</div>