<navbar>
</navbar>
<div class="container-fluid" style="padding-left:0px;margin-left:0px;margin-left:10px;">
  <div class="col-md-12">
    <div class="pull-left">
      <h4>
        Node Summary
      </h4>
    </div>
    <div class="pull-right" style="width:200px">
      <input type="text" placeholder="Filter" class="form-control">
    </div>
    <div class="visible-m visible-l clearfix" style="margin-bottom:20px">
    </div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            Node Name
          </th>
          <th>
            URI
          </th>
          <th>
            Status
          </th>
          <th>
            Health %
          </th>
          <th class="text-right">
            Last Change
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            hale-qa-srv01
          </td>
          <td>
            hale-qa-srv01.io.nav
          </td>
          <td>
            Up
          </td>
          <td>
            75%
          </td>
          <td  class="text-right">
            2016-07-02 13:00
          </td>
        </tr>
        <tr>
          <td>
            hale-qa-srv02
          </td>
          <td>
            hale-qa-srv02.io.nav
          </td>
          <td>
            Up
          </td>
          <td>
            100%
          </td>
          <td  class="text-right">
            2016-07-10 12:20
          </td>
        </tr>
        <tr>
          <td>
            games-linux-srv01
          </td>
          <td>
            games-linux-srv01.io.nav
          </td>
          <td>
            Up
          </td>
          <td>
            100%
          </td>
          <td  class="text-right">
            2016-07-10 12:20
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
