<nav class="hg-navbar" ng-class="{'minimized': $ctrl.minimized}">
    <ul class="hg-navbar-nav">
      <li>
        <a ng-click="$ctrl.toggleSize()">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li ui-sref-active="active">

        <a ui-sref="app.hale.dashboard">
          <i class="fa fa-dashboard"></i>
          <span ng-show="!$ctrl.minimized">
            <div ng-show="!$ctrl.minimized">
              <span>
                Dashboard
              </span>
            </div>
          </span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.hale.nodes">
          <i class="fa fa-server"></i>
          <div ng-show="!$ctrl.minimized">
            <span>
              Nodes
            </span>
          </div>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.hale.settings">
          <i class="fa fa-wrench"></i>
          <div ng-show="!$ctrl.minimized">
            <span>
              Settings
            </span>
          </div>
        </a>
        <ul class="hg-submenu">
          <li ui-sref-active="active">
            <a ui-sref="app.hale.settings.profile">
              <i class="fa fa-user"></i>
              <div ng-show="!$ctrl.minimized">
                <span>
                  Profile Settings
                </span>
              </div>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.hale.settings.emails">
              <i class="fa fa-envelope"></i>
              <div ng-show="!$ctrl.minimized">
                <span>
                  Email Settings
                </span>
              </div>
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.hale.settings.phone">
              <i class="fa fa-phone"></i>
              <div ng-show="!$ctrl.minimized">
                <span>
                  Phone Settings
                </span>
              </div>

            </a>
          </li>
        </ul>
      </li>
    </ul>
</nav>

<!-- nav class="navbar navbar-static-top navbar-inverse" ng-class="{'expanded' : nav.expanded}" ng-show="showNavbar()">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        Hale
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" style="border:none;">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-class="{ 'hg-has-submenu' : hasSubmenu()}">
        <li navitem ng-class="{ 'active' : isActive('dashboard')}" class="navitem" url="dashboard" icon="fa-dashboard"   label="Dashboard"></li>
        <li navitem ng-class="{ 'active' : isActive('nodes')}"     class="navitem" url="nodes"     icon="fa-server"      label="Nodes"></li>
        <li navitem ng-class="{ 'active' : isActive('services')}"  class="navitem" url="services"  icon="fa-binoculars"  label="Services"></li>
        <li navitem ng-class="{ 'active' : isActive('reports')}"   class="navitem" url="reports"   icon="fa-file-text-o" label="Reports"></li>
        <li navitem ng-class="{ 'active' : isActive('settings')}"  class="navitem" url="settings"  icon="fa-wrench"      label="Settings"></li>
        <li navitem ng-class="{ 'active' : isActive('admin')}"     class="navitem" url="admin"     icon="fa-lock"        label="Admin" ng-show="isAdmin()"></li>
      </ul>
      <ul class="nav navbar-right" >
        <li class="dropdown" style="padding-top:10px;padding-right:15px">
          <badge></badge>
        </li>
      </ul>
    </div>

  </div>
    </div>
</nav -->
