<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Hale Agent" Version="1.0.0.0" Manufacturer="Hale Project" UpgradeCode="f31c06c1-dd56-4be0-8092-13f1497a9587">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
            LicenseUrl=""
            ShowVersion="yes" 
            ThemeFile="HaleAgentBootstrapperTheme.xml"
            LocalizationFile="HaleAgentBootstrapperTheme.wxl"

            />
      <Payload
          SourceFile="hale-logo.png"/>
    </BootstrapperApplicationRef>
    <Variable Name="HaleCoreHostname" bal:Overridable="yes"/>
    <Variable Name="HaleCoreSendPort" bal:Overridable="yes" Value="8988"/>
    <Variable Name="HaleCoreReceivePort" bal:Overridable="yes" Value="8987" />
		<Chain>


      <PackageGroupRef Id="NetFx45Web"/>
      <MsiPackage Id="HaleAgent" SourceFile="$(var.Hale.Agent.Setup.TargetPath)">
        <MsiProperty Value="[HaleCoreHostname]" Name="HALE_CORE_HOSTNAME"/>
        <MsiProperty Value="[HaleCoreSendPort]" Name="HALE_CORE_PORT_SEND"/>
        <MsiProperty Value="[HaleCoreReceivePort]" Name="HALE_CORE_PORT_RECEIVE"/>
      </MsiPackage>
		</Chain>
	</Bundle>
</Wix>