@import "variables.scss";
@import "components/components.scss";
@import "parts/parts.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  background: #ececea;
  font-family: 'Roboto';
  overflow: hidden;
}

.wrapper {
  display: flex;
  height: 100%;
}
.hg-ui-main {
  flex: auto;
  margin: 20px;
}
